* {
  box-sizing: border-box; }

body {
  background: #333;
  overflow: hidden;
  font-family: "Raleway", sans-serif; }

a {
  color: #16385E;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.15s ease-in-out; }
  a:hover {
    color: #5090d6; }

.logo {
  font-size: 75px;
  transition: all 0.15s ease-in-out;
  margin: 0; }
  .logo:hover {
    color: #5090d6; }
    .logo:hover span {
      color: white; }
  .logo span {
    color: #5090d6; }

.face {
  width: 250px;
  height: 250px;
  background: url("../img/face.jpg") no-repeat center;
  background-size: contain;
  border: 5px solid #16385E;
  border-radius: 50%; }
  .face.center {
    margin: 0 auto; }

.wrapper {
  width: 100%;
  max-widtH: 1200px;
  padding: 20px;
  margin: auto; }
  .wrapper.no-padding {
    padding: 0; }

.content {
  height: 100vh;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transition: all 0.35s ease-in-out;
  overflow: auto; }
  .content.open {
    transform: scale(0.25);
    left: 112.5px; }
    @media (max-width: 640px) {
      .content.open {
        left: 87.5px; } }

.hamburger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  left: 20px;
  transition: all 0.35s ease-in-out;
  background: #16385E;
  z-index: 1000;
  border: 2px solid white; }
  .hamburger span {
    content: "";
    transition: all 0.35s ease-in-out;
    position: absolute;
    width: 30px;
    height: 5px;
    background: white;
    left: 50%;
    transform: translate(-50%, 0%); }
    .hamburger span:nth-child(1) {
      top: 10px; }
    .hamburger span:nth-child(2) {
      top: 20px; }
    .hamburger span:nth-child(3) {
      top: 30px; }
  .hamburger.open {
    left: 245px; }
    @media (max-width: 640px) {
      .hamburger.open {
        left: 195px; } }
    .hamburger.open span:nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg); }
    .hamburger.open span:nth-child(2) {
      opacity: 0; }
    .hamburger.open span:nth-child(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg); }

.side-bar {
  position: fixed;
  top: 0;
  left: -225px;
  width: 225px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: #16385E;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  transition: all 0.35s ease-in-out;
  z-index: 1001; }
  .side-bar a {
    color: white;
    text-decoration: none; }
    .side-bar a:hover {
      color: #5090d6; }
  @media (max-width: 640px) {
    .side-bar {
      width: 175px; } }
  .side-bar.open {
    left: 0; }
  .side-bar ul {
    list-style: none;
    padding: 0; }
    .side-bar ul li {
      padding: 15px 0; }
      .side-bar ul li a {
        transition: all 0.15s ease-in-out;
        font-weight: 700; }
        .side-bar ul li a.active {
          color: #5090d6; }

.section {
  width: 100%;
  padding: 20px; }
  .section.padded-more {
    padding: 80px 20px; }
  .section.padded-more-top-only {
    padding: 80px 20px 20px 20px; }
  .section.no-padding {
    padding: 0; }
  .section.center--text {
    text-align: center; }
  .section.flex {
    display: flex; }
    .section.flex.column {
      flex-direction: column; }
    .section.flex.center--items {
      justify-content: center; }
    .section.flex.right--items {
      justify-content: flex-end; }
    .section.flex.vertiz--align {
      align-items: center; }
  .section.hero {
    color: white;
    background: url("https://hd.unsplash.com/photo-1461749280684-dccba630e2f6") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    overflow: hidden; }
    .section.hero h1 {
      font-size: 65px;
      margin: 0; }
  .section.about {
    color: #16385E;
    min-height: 100vh; }
    .section.about .skills {
      width: 100%; }
      .section.about .skills .skill-bar {
        width: 100%;
        height: 40px;
        position: relative;
        background: #fff;
        padding: 0 10px;
        margin: 10px 0;
        color: white; }
        .section.about .skills .skill-bar p.percent {
          text-align: right;
          margin: 0;
          line-height: 40px;
          color: #16385E;
          font-weight: 700; }
        .section.about .skills .skill-bar .skill-bar-inner {
          width: auto;
          height: 40px;
          position: absolute;
          left: 0;
          top: 0;
          background: #16385E;
          text-align: left;
          padding: 0 20px;
          opacity: 0.85; }
          .section.about .skills .skill-bar .skill-bar-inner p {
            margin: 0;
            line-height: 40px; }
    .section.about h1 {
      font-size: 55px;
      margin: 0; }
  .section.work .row {
    width: 100%; }
    .section.work .row:before, .section.work .row:after {
      content: "";
      display: table; }
    .section.work .row:after {
      clear: both; }
    .section.work .row .col-1-2 {
      width: 50%;
      height: 50vh;
      text-decoration: none;
      float: left;
      padding: 10px; }
      .section.work .row .col-1-2 .card {
        background: #333333;
        background-size: cover;
        color: white;
        text-align: left;
        padding: 10px;
        height: 100%;
        transition: 0.15s ease-in-out; }
        .section.work .row .col-1-2 .card p {
          font-weight: 400; }
        .section.work .row .col-1-2 .card:hover {
          transform: scale(0.9); }
        .section.work .row .col-1-2 .card.sob {
          background: #333333 url("https://s3-us-west-2.amazonaws.com/samueljanes.s3.amazonaws.com/posts/images/000/000/005/original/sobbg.png") no-repeat bottom right; }
        .section.work .row .col-1-2 .card.em {
          background: #333 url("https://s3-us-west-2.amazonaws.com/samueljanes.s3.amazonaws.com/posts/images/000/000/005/original/EH.png") no-repeat bottom right; }
      @media (max-width: 640px) {
        .section.work .row .col-1-2 {
          width: 100%; } }
  .section.contact-form {
    min-heighT: 100vh;
    background: #16385E;
    color: white; }
    .section.contact-form form {
      padding: 20px;
      width: 100%;
      max-width: 960px;
      text-align: left; }
      .section.contact-form form button {
        padding: 10px 40px;
        color: white;
        border: 2px solid white;
        background: none;
        outline: 0;
        transition: 0.15s ease-in-out;
        font-weight: 700; }
        .section.contact-form form button:hover {
          background: white;
          color: #16385E; }
      .section.contact-form form .field {
        width: 100%; }
        .section.contact-form form .field input[type='text'],
        .section.contact-form form .field input[type='email'] {
          width: 100%;
          padding: 10px 5px;
          outline: none;
          border: 2px solid #8eb7e5;
          display: block;
          float: left;
          transition: 0.15s ease-in-out;
          margin: 10px 0; }
          .section.contact-form form .field input[type='text']:focus,
          .section.contact-form form .field input[type='email']:focus {
            background: #f3f3f3; }
      .section.contact-form form textarea {
        width: 100%;
        max-width: 100%;
        min-height: 300px;
        outline: none;
        border: 2px solid #8eb7e5;
        padding: 10px 5px;
        transition: 0.15s ease-in-out;
        margin: 10px 0; }
        .section.contact-form form textarea:focus {
          background: #f3f3f3; }

.footer {
  text-align: center; }
  .footer .social {
    font-size: 30px; }
  .footer p {
    font-size: 12px; }

/*# sourceMappingURL=application.css.map */
